body {
	background-color: #FDFEFF;
}


.crowd-funding {
	margin-top: 1em;
}

.main-content {
	padding-top: 2em;
	height: 100%;
}

.skills-list {
	list-style-type: none;
}

.hidden {
	display: none;
} 

#view-mode {
	margin-right: 1em;
}

#menu {
	margin-left: 37em;
}

.change-card {
	margin-top: 3em;
}

.approve-deny-form	{	
	margin-top: 10em;
	margin-left: 1em;
}

.approve-deny-text {
	display: inline-block;
}

.approveDeny {
	display: inline-block;
	margin-right: 1em;
}

.skills-container {
	margin-top: 3em;
}

.center {
	text-align: center
}

.card {
	padding-bottom: 1em;
}

.select-category {
	padding-top: 2em;
}

.change-card {
	margin-top: 1em;
}

.sidebar-sticky {
	margin-top: 1em;
}

#add-child-page {
	margin-top: 1em;
	margin-left: 2em;
}

.error {
	color: red;
}

.comments-section {
	border-top: 1px solid lightgray;
	margin-bottom: 0;
}


.modal-footer {
/* 	border-top: 3px solid gray;
 */}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 800px;
  }
}

.compensation {
	padding-right: 0
}

.bg-orange {
	background-color: #F5B041;
}

.navbar-link:hover {
	color: #F5B041;
}
.text-orange {
	color: #F5B041;
}

.crowdfunding-profile {
	margin-top: 1em;
}

.ad {
	transition: transform .4s;
}

.ad:hover {
	transform: scale(1.02);
}

.see-campaigns {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: black;
}